<div role="tablist"
     class="tabs tabs-lift mb-6"
     {% if is_htmx_demo %}hx-target="#tab-content"{% endif %}>
  <a role="tab"
     class="tab {% if active_tab == 'details' %}tab-active font-semibold{% endif %}"
     href="{% url request.resolver_match.namespaces|last|add:':ticket_detail' ticket.id %}">Details</a>
  <a role="tab"
     class="tab {% if active_tab == 'comments' %}tab-active font-semibold{% endif %}"
     href="{% url request.resolver_match.namespaces|last|add:':ticket_comments' ticket.id %}">
    Comments
    {% if ticket.comments %}<span class="badge badge-sm badge-ghost ml-1">{{ ticket.comments|length }}</span>{% endif %}
  </a>
  <a role="tab"
     class="tab {% if active_tab == 'activity' %}tab-active font-semibold{% endif %}"
     href="{% url request.resolver_match.namespaces|last|add:':ticket_activity' ticket.id %}">Activity</a>
  <a role="tab"
     class="tab {% if active_tab == 'attachments' %}tab-active font-semibold{% endif %}"
     href="{% url request.resolver_match.namespaces|last|add:':ticket_attachments' ticket.id %}">Attachments</a>
</div>
