{% load static %}
<!DOCTYPE html>
<html lang="en-US" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# The title block is needed both for MPA and htmx_nav title modifying #}
    {# but the content is defined once in python fot htmx_nav so it's used #}
    {# in both full page render as well as partial swaps                   #}
    <title>{% block title %}Django-htmx-nav Example{% endblock %}</title>
    <script>
    (function () {
      const saved = localStorage.getItem("theme");
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      const theme = saved || (prefersDark ? "dark" : "light");
      document.documentElement.setAttribute("data-theme", theme);
    })();
    </script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="{% static 'js/theme.js' %}"></script>
    {% if active_variant.uses_htmx %}
      <!--<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/htmx.min.js"></script>-->
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
              integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
              crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'htmx_nav/debug-swaps.css' %}">
    {% endif %}
  </head>
  <body data-demo-mode="{{ demo_mode }}"
        {% if active_variant.uses_htmx %}hx-boost="true" hx-target="#main-content" data-hn-debug-swaps{% endif %}>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content min-h-dvh flex flex-col justify-between">
        <header>
          <nav class="navbar {% if active_variant.uses_htmx %}bg-primary/10{% else %}bg-error/10{% endif %} shadow-sm">
            <div class="navbar-start gap-2">
              <label for="my-drawer"
                     aria-label="open sidebar"
                     class="btn btn-square btn-ghost drawer-button lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     stroke-linejoin="round"
                     stroke-linecap="round"
                     stroke-width="2"
                     fill="none"
                     stroke="currentColor"
                     class="my-1.5 inline-block size-4">
                  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                  <path d="M9 4v16"></path>
                  <path d="M14 10l2 2l-2 2"></path>
                </svg>
              </label>
              <a href="{% url 'mpa:org_list' %}"
                 class="flex items-center gap-2 font-bold text-xl no-underline hover:opacity-80 transition-opacity">
                <svg class="h-6 w-6 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 640 640">
                  <path d="M392.8 65.2C375.8 60.3 358.1 70.2 353.2 87.2L225.2 535.2C220.3 552.2 230.2 569.9 247.2 574.8C264.2 579.7 281.9 569.8 286.8 552.8L414.8 104.8C419.7 87.8 409.8 70.1 392.8 65.2zM457.4 201.3C444.9 213.8 444.9 234.1 457.4 246.6L530.8 320L457.4 393.4C444.9 405.9 444.9 426.2 457.4 438.7C469.9 451.2 490.2 451.2 502.7 438.7L598.7 342.7C611.2 330.2 611.2 309.9 598.7 297.4L502.7 201.4C490.2 188.9 469.9 188.9 457.4 201.4zM182.7 201.3C170.2 188.8 149.9 188.8 137.4 201.3L41.4 297.3C28.9 309.8 28.9 330.1 41.4 342.6L137.4 438.6C149.9 451.1 170.2 451.1 182.7 438.6C195.2 426.1 195.2 405.8 182.7 393.3L109.3 320L182.6 246.6C195.1 234.1 195.1 213.8 182.6 201.3z" />
                </svg>
                <span class="text-nowrap">django-htmx-nav</span>
              </a>
            </div>
            <div class="navbar-center gap-2 hidden sm:inline-flex">
              {% if active_variant.uses_htmx %}
                <span class="badge badge-primary badge-lg font-semibold">HTMX MODE</span>
              {% else %}
                <span class="badge badge-error badge-lg font-semibold">MPA MODE</span>
              {% endif %}
            </div>
            <div class="navbar-end space-x-2">
              {% if active_variant.uses_htmx %}
                <button type="button"
                        class="btn btn-ghost"
                        onclick="document.body.toggleAttribute('data-hn-debug-swaps')">Highlight swaps</button>
              {% endif %}
              <label x-data="themeToggle()" class="swap swap-rotate">
                <input type="checkbox"
                       class="theme-controller"
                       value="dark"
                       :checked="isDark"
                       @change="toggle()">
                <svg class="swap-off h-7 w-7 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                  <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                </svg>
                <svg class="swap-on h-7 w-7 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                  <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                </svg>
              </label>
              <details class="dropdown dropdown-end">
                <summary class="btn btn-square btn-ghost ml-2"
                         aria-label="open navbar dropdown">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       fill="none"
                       viewBox="0 0 24 24"
                       class="inline-block h-5 w-5 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                    </path>
                  </svg>
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
                    {% if active_variant.uses_htmx %}hx-boost="false"{% endif %}>
                  {% for variant in all_variants.values %}
                    {% with variant.namespace|add:':overview' as url_name %}
                      <li>
                        <a href="{% url url_name %}"
                           class="{% if variant == active_variant %}menu-active{% endif %}">{{ variant.label }}</a>
                      </li>
                    {% endwith %}
                  {% endfor %}
                  <li><a href="https://github.com/your-org/django-htmx-nav">Source code diffs</a></li>
                </ul>
              </details>
            </div>
          </nav>
          {% include "components/_mode_banner.html" %}
          <div id="breadcrumbs" class="flex justify-center">{% include "components/_breadcrumbs.html" %}</div>
        </header>
        <div id="messages" hx-swap-oob="innerHTML">{% include "components/_messages.html" %}</div>
        <main class="flex-1 h-full">
          <div id="main-content" class="h-full">
            {% block content %}{% endblock %}
          </div>
        </main>
        <footer class="footer footer-horizontal bg-neutral text-neutral-content items-center p-4">
          <aside>
            <p>Copyright © 2026 - Lucas Rollin Ferreira</p>
          </aside>
          <nav class="grid-flow-col gap-4 place-self-center justify-self-end">
            <a href="https://github.com">
              <svg aria-label="GitHub logo"
                   width="24"
                   height="24"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24">
                <path fill="white" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z">
                </path>
              </svg>
            </a>
          </nav>
        </footer>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <div id="sidebar" class="h-full">{% include "components/_sidebar_menu.html" %}</div>
      </div>
    </div>
  </body>
</html>
