{% load htmx_extras %}
<div id="sidebar" hx-swap-oob="innerHTML">{% include "core/components/_sidebar_menu.html" %}</div>
<div id="breadcrumbs" hx-swap-oob="innerHTML">{% include "core/components/_breadcrumbs.html" %}</div>
{% if messages %}
  <div id="messages" hx-swap-oob="innerHTML">{% include "core/components/_messages.html" %}</div>
{% endif %}
{% if request|hx_target:"tab-content" %}
  <div id="tabs" hx-swap-oob="innerHTML">{% include "core/components/_tabs.html" %}</div>
  {% include "core/pages/ticket.html#"|add:active_tab %}
{% else %}
  {% include "core/pages/ticket.html#content" %}
{% endif %}
<title>{{ title }}</title>
